<div class="forgot-password-view display-style">
    <mat-card id="forgot-password-card">
        <mat-card-header>
            <div class="logo"><img src="assets/simvestfunnoback.png" (click)="redirectToLogin()"></div>
        </mat-card-header>

        <mat-divider inset></mat-divider>

        <mat-card-content class="display-style">
            <form [formGroup]="forgotPasswordForm" class="display-style">
                <p>To reset your password please enter your email adress.</p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <div class="email-icn display-style" matSuffix>
                        <mat-icon>account_circle</mat-icon>
                    </div>
                    <input matInput type="email" formControlName="email" required />
                    <mat-error *ngIf="this.email?.hasError('required')">This is a required field</mat-error>
                    <mat-error *ngIf="this.email?.hasError('email')">Invalid email address</mat-error>
                </mat-form-field>
                <button class="login-btn" mat-raised-button (click)="sendResetPasswordEmail()">Send Email</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>