.display-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.forgot-password-view {
    padding-top: 20vh;
}

#forgot-password-card {
    flex-direction: row;
    width: 50%;
}

.logo {
    width: 140px;
    height: 75px;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

img {
    width: 100%;
    height: calc(35% / 2.5px);
}

@media only screen and (max-width: 900px) {
    #forgot-password-card {
        width: 90%;
    }
}
