.loading-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(132, 146, 148, 0.6);
    z-index: 5;
}

mat-progress-spinner::ng-deep circle{
    stroke: rgb(7, 176, 206) !important;
}

.spinner {
    top: calc(50% - 45px);
    left: calc(50% - 45px);
}
