<section class="content">
    <h1>About</h1>
    <p>
        <span class="subtitle">Simvest.fun</span> is an investing simulator that gives you a taste of how it feels to invest money in the stock market. 
    </p>
    <p>
        You get virtual money - $10,000 - and may invest them in the top 20 biggest US companies. 
    </p>
    <p>
        <span class="subtitle">Price updates: </span>the stock prices are real and updated every half hour, while the market is open (work days, 9:30AM - 4PM ET). When the prices are updated, the portfolio values of each user are recalculated, and the top 20 users are displayed in the leaderboard.
    </p>
    <p>
        <span class="subtitle">Account / User page: </span>you can see your account page when clicking your photo / portfolio value in the page header. This contains your name, photo, portfolio details with your stocks and their value, and an action history. You can see the same information for other users too if you click on their names on the Leaderboard or on the Users page.
    </p>
    <p>
        <span class="subtitle">Buying / Selling stocks: </span>you can buy stocks when you are logged in. On the homepage there are Buy buttons next to each stock. To sell stocks, go to your Account page.
    </p>
    <p>
        <span class="subtitle">Following users: </span>you can follow other users, like friends or people you find interesting. When you do so, a Followboard is created for
        you on the home page, with just you and your follows, to see how you rank against them.
    </p>
    <p>
        <span class="subtitle">Daily bonus: </span>you get a small $10 daily bonus each day when you first visit the home page. You must be logged in to receive it.
    </p>
    <p>
        <span class="subtitle">Work in progress: </span>this project is a work in progress, we are still adding / tweaking features.
    </p>
    <p>
        <span class="subtitle">Team / Contact / Feedback: </span>this project is being developed as part of a Fortech internship, the .NET + Angular one in Brasov. The interns are Iulia Carp, Marian Dragoiu, Catalin Balan and Iustin Deaconu. For feedback or queries don't hesitate to contact their coordinator, Dan Dumitru: dan.dumitru[at]fortech.ro.
    </p>
</section>