<div class="reset-password-view display-style">
    <mat-card id="reset-password-card">
        <mat-card-header>
            <div class="logo"><img src="assets/simvestfunnoback.png" (click)="redirectToLogin()"></div>
        </mat-card-header>

        <mat-divider inset></mat-divider>

        <mat-card-content class="display-style form-align">
            <form [formGroup]="resetPasswordForm" class="display-style" *ngIf="canReset">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="newPassword" />
                    <mat-error *ngIf="this.newPassword?.invalid">This is a required field</mat-error>
                    <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-pressed]="hidePass">
                        <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Repeat password</mat-label>
                    <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="repeatPassword" />
                    <mat-error *ngIf="this.repeatPassword?.hasError('required')">This is a required field</mat-error>
                    <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-pressed]="hidePass">
                        <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button class="login-btn" mat-raised-button (click)="resetPassword()">Reset Password</button>
            </form>

            <div *ngIf="!canReset">
                <p class="success-reset">Password reset successfully!</p>
                <button class="go-to-login-button" mat-raised-button (click)="redirectToLogin()">Go to Login</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>