.display-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reset-password-view {
    padding-top: 20vh;
}

#reset-password-card {
    flex-direction: row;
    width: 50%;
}

.logo {
    width: 140px;
    height: 75px;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

img {
    width: 100%;
    height: calc(35% / 2.5px);
}

.form-align {
    margin-top: 20px;
}

.success-reset { 
    text-align: center;
    justify-content: center;
    color: green;
    font-size: large;
}

.go-to-login-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

@media only screen and (max-width: 900px) {
    #reset-password-card {
            width: 90%;
        }
}